:root {
 --text-lg: 2.25rem;
}

* {
   box-sizing: border-box;
   margin: 0;
   font-family: sans-serif;
   color: white;
}

i {
   margin-right: 1rem;
}

.fa-square {
   margin-left:  4px;
}

.main__item .fa-xmark {
   margin-right: 10px;
   margin-left: 1rem;
   
}

.nav__item .fa-xmark {
   margin-right: 8px;
}

body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   background-color: black;
}

.header {
   background-color: black;
   padding: 1rem;
   border-bottom: 1px solid gray;
}

.header__title {
   color: white;
}

.main {
   display: flex;
   flex-grow: 1;
}

.nav {
   padding: 1rem;
   border-right: 1px solid gray;
}

.nav__title {
   margin-top: 1rem;
   padding: 1rem;
}

nav {
   min-width: 250px;
}

.nav__list {
   padding: 0;
}

.nav__item {
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   padding: .5rem;
   border-radius: 1rem;
   cursor: pointer;
}

.nav__item:hover {
   background-color: rgba(128, 128, 128, 0.5);
}

.nav__item--input-group {
   display: flex;
   flex-direction: column;
}

.nav__item--input-group:hover {
   background-color: initial;
}

.nav__input {
   background-color: black;
   border: 1px solid gray;
   margin-bottom: .5rem;
   border-radius: .25rem;
   height: 1.75rem;
   padding: .5rem;
}

.nav__actions {
   display: flex;
   gap: 1rem;
   justify-content: space-between;
}

.nav__button {
   border: none;
   background: none;
   cursor: pointer;
}

.nav__button--add {
   border: 1px solid green;
   width: 50%;
   height: 1.75rem;
   border-radius: .25rem;
}

.nav__button--cancel {
   border: 1px solid red;
   width: 50%;
   border-radius: .25rem;
}

.main__section {
   width: 75%;
   margin: 0 auto;
   padding: 1rem;
}

.main__title {
   margin-bottom: 1rem;
   color: white;
}

.main__list {
   padding: 0
}

.main__item {
   list-style-type: none;
   display: flex;
   padding: .5rem;
   border-radius: 1rem;
   cursor: pointer;
}

.main__text {
   font-size: 13.3333px;
}

.main__item:hover {
   background-color: rgba(128, 128, 128, 0.5);
}

.main__button {
   border: none;
   background: none;
   cursor: pointer;
}

.main__item-left {
   display: flex;
}

.main__item-right {
   display: flex;
   margin-left: auto;
}

footer {
   background-color: black;
   text-align: center;
   padding: 1rem;
}

.hidden {
   display: none;
}